$obj: (
    white: var(--wp--preset--color--white),
    red: var(--wp--preset--color--red),
    black: var(--wp--preset--color--black),
    gray: var(--wp--preset--color--gray),
    silver: var(--wp--preset--color--silver),
);