$obj: (
    system-serif: var(--wp--preset--font-family--system-serif),
    system-sans-serif: var(--wp--preset--font-family--system-sans-serif),
    next-art: var(--wp--preset--font-family--next-art),
);